div {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.jqx-listbox {
  /* get listboxes to be left to right not top to bottom */
  display:inline-flex;
  max-height: 250px;
  /* max-width: 150px; */
}

div.toprow {
  overflow:auto;
}

div.listbox {
  float: left;
  margin-left: 3px;
}