div {
  margin: 1px;
}
* {
  box-sizing: border-box;
}
.jqx-listbox {
  /* get listboxes to be left to right not top to bottom */
  display:inline-flex;
}

.toprow-div {
  overflow:auto;
}

.listbox-div {
  float: left;
}